.container {
  width: 300px;
  padding: 2rem;
  border: 2px double white;
}

.container > form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-input {
  display: flex;
  justify-content: space-between;
}

.error {
  color: red;
  font-size: 14px;
  text-align: left;
}